body {
    background-image:url(images/bg-intro-desktop.png);
    background-color: rgba(245, 0, 0, 0.474);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
   
}

.koe  {
    color: azure;
    text-align: center;
}
button {
    background-color: rgb(103, 103, 180);
    color: azure;
    border-radius: 5px;
    width: 400px;
    height: 60px;
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.677);
}
.tima {
    padding-top: 10px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.677);

}
h3 {
    background-color: rgb(37, 255, 92);
    color: azure;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-left:50px ;
    margin-right:50px ;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.677);
}
p {
    color: rgba(138, 139, 139, 0.71);
    text-align: center;

}
span {
    color: rgb(171, 4, 4);
}

h6 {
    color: rgba(229, 231, 231, 0.542);
}
.assyl {
    padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;

}
input {
    width: 250px;
    height: 30px;
}